.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.top-nav-ul {
  display: flex;
  align-items: center;
}

.dp-btn,
.top-nav-list {
  font-weight: 600;
  line-height: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 15px;
  height: 37px;
  overflow: hidden;
  border-left: 1px solid #ccc;
  box-shadow: inset 0 50px 25px -15px #216ca6;
  background-color: #174b73;
  text-align: left;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 24px;
  color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
  gap: 5px;

}

.payment {
  box-shadow: inset 0 50px 25px -15px #388ecc;
}

.dp-btn:hover,
.top-nav-list:hover {
  color: var(--white-color);
  border-bottom: none;
  box-shadow: none;
  background-color: #1a5684;
}

p.strong-text {
  font-size: 13px !important;
  line-height: 70%;
  text-align: center;
}

p.strong-text span {
  font-size: 8px !important;
}

.top-nav-list i {
  font-size: 25px;
}

.button-main {
  box-shadow: inset 0 50px 25px -25px #84b332;
  background-color: #668a28;
}

.button-main:hover {
  border-bottom: none;
  box-shadow: none;
  background-color: #84b332;
}